absl-py
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cmake
colorama
comm
comtypes
contourpy
cycler
debugpy
decorator
defusedxml
distlib
dlib @ https://github.com/jloh02/dlib/releases/download/v19.22/dlib-19.22.99-cp310-cp310-win_amd64.whl
et-xmlfile
exceptiongroup
executing
face-recognition
face-recognition-models
fastjsonschema
filelock
Flask
Flask-SQLAlchemy
flatbuffers
fonttools
fqdn
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
ml-dtypes
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
opencv-python
openpyxl
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
PyAudio
pycparser
Pygments
pyparsing
pypiwin32
python-dateutil
python-json-logger
pyttsx3
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tk
tomli
tornado
traitlets
types-python-dateutil
typing_extensions
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
